:root {
    --silver-light: #D8D8D8;
    --black: #000;
    --gray-spanish: #999;
    --silver-dark: #6D6D6D;
    --rose-misty: #FFE8E8;
    --gray-granite: #666;
    --gray: #7E7C7C;
    --dark-charcoal: #2E2E2E;
    --gray-bright: #EDEDED;   
}
  
body {
    font-family: 'Poppins', sans-serif;
}
  
